
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="Dealer/Vehiculo" method="post">
            <label>Ingrese el ID</label>
            <br />
            <input type="text" name="ID" />
            <br />
            <label>Ingrese su nombre</label>
            <br />
            <input type="text" name="Nombre" />
            <br />
            <label>Ingrese la marca del carro</label>
            <br />
            <input type="text" name="Marca" />
            <br />
            <label>Ingrese el color del carro</label>
            <br />
            <input type="text" name="Color" />
            <br />
            <label>Ingrese el chasis del carro</label>
            <br />
            <input type="text" name="Chasis" />
            <br />
            <input type="submit" value="enviar" />
        </form>
    </div>
</body>
</html>
